md-list .mat-subheader {
  color: rgba(0,0,0,.54);
}

md-list strong {
  margin-right: 0.5rem;
}

.profile__photo {
  border-radius: 50%;
}

@media screen and (max-width: 599px) {
  .profile__photo {
    max-width: 150px;
    margin: 0 auto;
  }
}
