.countdown-timer {
    text-align: center
}

.countdown-timer .countdown-timer__time {
    position: relative;
}

.countdown-timer .countdown-timer__duration {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 6rem;
}

/* Progress Spinner */
.countdown-timer .countdown-timer__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
