<div class="content">
  <h2>Contact</h2>
  <p>Fill out the form below to get in touch with us. We'd love to hear from you!</p>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" autocomplete="false" novalidate>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2px" class="form-row">
      <mat-input-container>
        <input matInput formControlName="name" placeholder="Name">
        <mat-error *ngIf="hasError('name', 'required')">This field is required</mat-error>
        <mat-error *ngIf="hasError('name', 'maxlength')">Maximum of 128 characters allowed</mat-error>
      </mat-input-container>
      <mat-input-container>
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="hasError('email', 'required')">This field is required</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">Must be valid email address</mat-error>
      </mat-input-container>
    </div>

    <br />

    <div fxLayout="column">
      <mat-input-container>
        <input matInput #subject formControlName="subject" placeholder="Subject">
        <mat-error *ngIf="hasError('subject', 'required')">This field is required</mat-error>
        <mat-error *ngIf="hasError('subject', 'maxlength')">Maximum of 128 characters allowed</mat-error>
        <mat-hint align="end">{{subject.value.length || 0}} / 128</mat-hint>
      </mat-input-container>
      <br />
      <mat-input-container>
        <textarea matInput matTextareaAutosize #message formControlName="message" placeholder="Message"></textarea>
        <mat-error *ngIf="hasError('message', 'required')">This field is required</mat-error>
        <mat-error *ngIf="hasError('message', 'maxlength')">Maximum of 1000 characters allowed</mat-error>
        <mat-hint align="end">{{message.value.length || 0}} / 1000</mat-hint>
      </mat-input-container>
    </div>

    <br />

    <div>
      <button type="submit" mat-raised-button [disabled]="isDisabled()">Submit</button>
    </div>
  </form>
</div>
