<header class="mat-elevation-z2">
  <mat-toolbar color="primary">
    <button mat-icon-button class="nav-button" (click)="openSidenav()" [fxHide.gt-sm]="true">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Fireteas</h1>
    <span class="auto-spacer"></span>
    <button
      *ngIf="!(authService.user | async)"
      class="login"
      type="button"
      mat-button
      routerLink="/login">LOG IN</button>
    <button
      *ngIf="!(authService.user | async)"
      class="sign-up"
      type="button"
      mat-raised-button
      color="accent"
      routerLink="/sign-up">SIGN UP</button>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/account/profile">My Account</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <img [matMenuTriggerFor]="appMenu" class="user-pic" *ngIf="(authService.user | async)?.photoURL" [src]="(authService.user | async)?.photoURL" />
  </mat-toolbar>
</header>
