h1 {
  margin-left: 8px;
}

.nav-button {
  margin-right: 8px;
}

nav a.active {
  font-weight: bold;
}

.login {
  margin-right: 8px;
}

.user-pic {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.user-pic:hover {
  cursor: pointer;
}
