md-sidenav-container {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87);
}

md-sidenav {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87);
    width: 250px;
}

.mat-list .mat-list-item,
.mat-nav-list .mat-list-item,
.mat-list .mat-list-item .mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content {
    color: rgba(0, 0, 0, 0.87);
}

.nav-button {
    margin-right: 16px;
}

main {
    padding: 24px;
}