md-sidenav-container {
    background-color: #fafafa;
}

md-sidenav {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87);
    width: 250px;
}

.nav-button {
    margin-right: 16px;
}

.main {
    padding: 24px;
}