<md-sidenav-container class="container" fxFlexFill>
  <md-sidenav #sidenav class="sidenav">
    <md-nav-list>
      <a md-list-item routerLink="/teas">Teas</a>
      <a md-list-item routerLink="/about">About</a>
    </md-nav-list>
  </md-sidenav>

  <div class="content" fxFlex fxLayout="column">
    <md-toolbar color="primary">
      <button md-icon-button class="nav-button" (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>
      <h1>{{title}}</h1>
    </md-toolbar>
    <main class="mat-typography">
      <router-outlet></router-outlet>
    </main>
  </div>

</md-sidenav-container>

