<nav>
  <mat-nav-list>
      <a mat-list-item routerLink="/community" routerLinkActive="active">Community</a>
    <a mat-list-item routerLink="/teas" routerLinkActive="active">Research</a>
    <a mat-list-item routerLink="/brew" routerLinkActive="active">Brew</a>
    <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact Us</a>
    <a mat-list-item routerLink="/code-of-conduct" routerLinkActive="active">Code of Conduct</a>
  </mat-nav-list>
</nav>
