<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column">
    <md-input-container>
      <input mdInput #displayName formControlName="displayName" placeholder="Display name">
      <md-error>Maximum length of 64 characters exceeded</md-error>
      <md-hint align="end">{{displayName.value.length}} / 64</md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput  formControlName="email" placeholder="Email">
        <md-error>Must be a valid email address</md-error>
    </md-input-container>
    <md-input-container>
      <textarea mdInput mdTextareaAutosize #story formControlName="story" placeholder="Your story"></textarea>
      <md-error>Maximum length of 100 characters exceeded</md-error>
      <md-hint align="end">{{story.value.length}} / 1000</md-hint>
    </md-input-container>

    <br />

    <div>
      <a md-raised-button [routerLink]="['../']">Cancel</a>
      <button type="submit" md-raised-button color="primary" [disabled]="isDisabled()">Save</button>
    </div>
  </div>
</form>
