<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column">
    <mat-input-container>
      <input matInput #displayName formControlName="displayName" placeholder="Display name">
      <mat-error>Maximum length of 64 characters exceeded</mat-error>
      <mat-hint align="end">{{displayName.value.length}} / 64</mat-hint>
    </mat-input-container>
    <mat-input-container>
        <input matInput  formControlName="email" placeholder="Email">
        <mat-error>Must be a valid email address</mat-error>
    </mat-input-container>
    <mat-input-container>
      <textarea matInput matTextareaAutosize #story formControlName="story" placeholder="Your story"></textarea>
      <mat-error>Maximum length of 100 characters exceeded</mat-error>
      <mat-hint align="end">{{story.value.length}} / 1000</mat-hint>
    </mat-input-container>

    <br />

    <div>
      <a mat-raised-button [routerLink]="['../']">Cancel</a>
      <button type="submit" mat-raised-button color="primary" [disabled]="isDisabled()">Save</button>
    </div>
  </div>
</form>
